<mat-toolbar color="primary">
  <span>My News</span>

  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  <!-- This fills the remaining space of the current row -->
  <span style="text-align: left;" class="example-fill-remaining-space">Mercer.com</span>
  
</mat-toolbar>